.button {
  border-radius: 10px;
  filter:invert(1);
  color: red;
}
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
.phones {
  position: relative;
}
.phone {
  margin: 3rem auto -12rem;
  max-width: 80%;
  position: relative;
}
.phone + .phone {
  display: none;
}
.underline {
  border-bottom: 2px solid #fff;
}
.values, .categories {
  background-image: url('../images/values-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}
.values {
  padding-bottom: 5rem;
}
.value-multiplier {
  color: #11DFC7;
  margin-bottom: .5rem;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  font-weight: 300;
  opacity: .8;
}
.get-help {
  border-bottom: 1px solid #333;
}
.categories .section-description {
  margin-bottom: 4rem;
}
form {
  margin: 5ex;
  padding: 2ex;
  filter: invert(90%);
  color: red;
}
form input, form select, form textarea {
  color: #444;
}
/* Bigger than 550 */
@media (min-width: 550px) {
  .section {
    padding: 12rem 0 11rem;
  }
  .hero {
    height: 165px;
    padding-bottom: 12rem;
    text-align: left;
  }
  .phone {
    max-height: 362px;
    position: absolute;
    right: 3rem;
    top: -7rem;
    z-index: 3;
  }
  .phone {
    display: block;
    max-height: 338px;
    max-width: 73.8%;
    right: 0;
    top: -6rem;
    z-index: 2;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .tr {
    background-size: cover;
    background-image: url('../images/takeOff.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20%;
    width: 100%;
  }
}

/* Bigger than 750 */
@media (min-width: 750px) {
  .hero {
    height: 190px;
    padding: 16rem 0 14rem;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .categories {
    padding: 15rem 0 8rem;
  }
  .tr {
    background-size: cover;
    background-image: url('../images/takeOff.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20%;
    width: 100%;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  .section {
    padding: 20rem 0 19rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  .tr {
    background-size: cover;
    background-image: url('../images/takeOff.png');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 20%;
    width: 100%;
  }
}
.tr {
  background-size: cover;
  background-image: url('../images/takeOff.png');
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 20%;
  width: 100%;
}
.unishadow {
  filter: drop-shadow(2px 2px 2px #000);
}
